@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}

@model List<FinalProject.Models.Product>

<div class="shop-container">
    <a href="/Admin" class="btn btn-secondary mb-2">
        ← Back
    </a>

    <h2 class="shop-title-page">⚙️ Product Management</h2>


    <a asp-action="CreateProduct" class="shop-add-btn">
        ➕ Add Product
    </a>

    <p class="shop-total">
        Total: <b>@Model.Count</b> products
    </p>

    <hr />

    <div class="shop-grid">

        @if (Model.Count == 0)
        {
            <p class="shop-empty">
                No products
            </p>
        }
        else
        {
            @foreach (var item in Model)
            {
                <div class="shop-card">

                    <img src="@(string.IsNullOrEmpty(item.Image)
                                                 ? Url.Content("~/assets/product-1.jpg")
                                                 : Url.Content("~/assets/" + item.Image))" />

            <div class="shop-body">

                        <h4>@item.ProductName</h4>

                        <p class="shop-price">
                            @item.Price VNĐ
                        </p>

                        <p class="shop-cate-name">
                            @item.Category?.CateName
                        </p>

                        <div style="margin-top:10px">

                            <a href="/Admin/EditProduct/@item.ProductID"
                               class="shop-btn">
                                ✏️ Edit
                            </a>

                            <a href="/Admin/DeleteProduct/@item.ProductID"
                               class="shop-btn"
                               onclick="return confirm('Delete this product?')">
                                ❌ Delete
                            </a>

                        </div>

                    </div>

                </div>
                }
        }

    </div>

</div>
