@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}
@model List<FinalProject.Models.Product>

<h2 class="admin-title">📦 Product Management</h2>

<div class="admin-grid">
    <div class="admin-card">
        <h3>Total Products</h3>
        <h2>@Model.Count</h2>
    </div>
</div>

<a asp-action="CreateProduct" class="admin-btn">➕ Add Product</a>

<hr />

<div class="shop-grid">
    @foreach (var item in Model)
    {
        <div class="shop-card">

            <img src="@(string.IsNullOrEmpty(item.Image)
                                             ? Url.Content("~/assets/product-1.jpg")
                                             : Url.Content("~/assets/" + item.Image))" />

            <div class="shop-body">

                <h4>@item.ProductName</h4>
                <p class="shop-price">@item.Price VNĐ</p>

                <span class="admin-badge badge-warning">
                    @item.Category?.CateName
                </span>

                <div class="shop-actions-group">
                    <a href="/Admin/EditProduct/@item.ProductID"
                       class="shop-cart-btn">Edit</a>

                    <a href="/Admin/DeleteProduct/@item.ProductID"
                           class="shop-buy-btn"
                           onclick="return confirm('Delete product?')">
                        Delete
                    </a>
                </div>

            </div>
        </div>
    }
</div>