@{
    Layout = "_LayoutAdmin";
    ViewData["Title"] = "Admin Dashboard";
}

@model List<FinalProject.Models.Promotion>

<h2>Promotions</h2>

<form asp-action="CreatePromotion" method="post">
    <input name="Name" placeholder="Name" />
    <input name="DiscountPercent" placeholder="Discount" />
    <button>Add</button>
</form>

@foreach (var item in Model)
{
    <div>
        @item.Name - @item.DiscountPercent %

        <a asp-action="DeletePromotion"
           asp-route-id="@item.PromotionID">
            Delete
        </a>

    </div>
}

<h2 class="admin-title">Promotions</h2>

<form method="post" action="/Admin/CreatePromotion">

<input name="Name"
placeholder="Name"
class="admin-input"/>

<input name="DiscountPercent"
placeholder="%"
class="admin-input"/>

<button class="admin-btn">
Add
</button>

</form>

<hr>

@foreach (var p in Model)
{
<div class="admin-row">

@p.Name - @p.DiscountPercent %

<a href="/Admin/DeletePromotion/@p.PromotionID"
class="admin-delete">
Delete
</a>

</div>
}
