@model List<FinalProject.Models.User>

<h2>Sellers</h2>

<table class="table">
    @foreach (var item in Model)
    {
        <tr>
            <td>@item.UserName</td>
            <td>@item.Email</td>
            <td>@item.IsActive</td>

            <td>
                <a asp-action="ApproveSeller" asp-route-id="@item.Id">
                    Approve
                </a>

                <a asp-action="BanSeller" asp-route-id="@item.Id">
                    Ban
                </a>
            </td>
        </tr>
    }
</table>