@model FinalProject.Models.Product

<h2>Add Product</h2>

<form asp-action="Create">

    <div>
        Name
        <input asp-for="ProductName" />
    </div>

    <div>
        Price
        <input asp-for="Price" />
    </div>

    <div>
        Category
        <select asp-for="CateID">
            @foreach (var c in ViewBag.Categories)
            {
                <option value="@c.CateID">@c.CateName</option>
            }
        </select>
    </div>

    <div>
        Brand
        <select asp-for="BrandID">
            @foreach (var b in ViewBag.Brands)
            {
                <option value="@b.BrandID">@b.BrandName</option>
            }
        </select>
    </div>

    <div>
        Shop
        <select asp-for="ShopID">
            @foreach (var s in ViewBag.Shops)
            {
                <option value="@s.ShopID">@s.ShopName</option>
            }
        </select>
    </div>

    <button type="submit">Create</button>

</form>